/* Resetting default margins, paddings, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #45b634;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo img {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

.header-content {
    text-align: center;
    flex: 1; /* Take remaining space */
}

.header-content h2 {
    margin: 10px 0;
    font-size: 24px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main section styles */
#home {
    padding: 80px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.home-content p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 20px;
}

.home-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Footer styles */
footer {
    background-color: #222;
    color: #ccc;
    padding: 30px 20px;
    text-align: center;
    clear: both; /* Ensures footer clears floated content */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h2 {
    color: #070606;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer-contact p, .footer-social a, .footer-copy p {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer-social a {
    color: #1c469c;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #1f4094;
}

.footer-copy p {
    font-size: 0.9rem;
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    header h2 {
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 8px 15px;
    }

    main {
        padding: 15px;
    }

    section#home p {
        font-size: 20px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-section {
        flex-basis: 100%;
        margin: 10px 0;
    }
}



